# Environment variables

.env
.env.local
.env.development
.env.production

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
Log/

# Visual Studio cache files
.vs/
*.csproj.user
*.vbproj.user

# Rider files
.idea/

# Test results
TestResults/

# Build server files
_ReSharper*/
*.resharper
*.[Tt]estsettings

# Other
*.DotSettings
*.dbmdl
*.mdf
*.ldf
*.pfx
*.publishsettings
*.key
nupkg/
*.nupkg
coverage.*.xml
*.pyc
*.pyo
__pycache__/ 

*.db
*.sqlite
*.sqlite3